<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>

<ul>
    <li><a href="{{link1}}">Home</a></li>
    <li><a href="{{link2}}">Currency</a></li>
</ul>
    <h1>About me</h1>
    <p>I'm Awesome</p>

</body>
    {{> footer}}

<!--<footer>-->
    <!--<p>Copyright {{year}}</p>-->
<!--</footer>-->

</html>