<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

</head>
<body>
<ul>
    <li><a href="{{link1}}">Home</a></li>
    <li><a href="{{link2}}">About</a></li>
<h1>Currency</h1>

<div> {{curr}}</div>



</body>
{{> footer}}

</html>