<footer style="background-color: tomato">
    <br>
    <div style="text-align: center"> <br> Copyright {{getCurrentYear}} </div>
    <!--<div >Copyright {{getCurrentYear}}</div> -->
    <br>
</footer>