<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
    <!--{{> header}}-->


</head>
<body>
<ul>
    <li><a href="{{link1}}">Currency</a></li>
    <li><a href="{{link2}}">About</a></li>
    <!--<li><a href="#contact">Contact</a></li>-->
    <!--<li><a href="#about">About</a></li>-->
</ul>
<h1>Home</h1>




</body>
    {{> footer}}
</html>